body{
    background-color:#e1e1e1;
    font-family: 'Open Sans', sans-serif;
    color:#333;
    
}
.searchDetails{
    background-color:white;
}
#PickUpLocation,#DropOffLocation,#PickUpDate,#DropOffDate,#PickUpTime,#DropOffTime
{
    border:solid 1px #e1e1e1;
    border-radius: 5px;
    padding:15px;
}
.searchDetails{
    padding:10px;
}
.searchDetails label{
    margin:0;
    margin-top:10px;
}

/** Car block stylign **/
.car-title{
    padding: 20px;
}
.card{
    padding:10px;
}
.searchFilters{
    background-color:white;
    padding:15px;
    margin-top:5px;
    margin-bottom:5px;
    border:solid 1px #e1e1e1;
}
#filterBy{
    padding-left: 0.5em;
    background: #F8F8F8;
    border: 1px solid #B5B5B5;
    height: 2.3996em;
    line-height: 2.3996em;
    font-size: .833em;
    border-radius: 0;
}
#resultsCount, #searchLocation{
    font-weight: bold;
}
.list-group-item{
    border:none;
}
.fadein {
    opacity: 0;
    -moz-transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
    transition: opacity 1.5s;
}

#body.loaded .fadein {
    opacity: 1;
}
#errorBanner{
    display: none;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    color:#21456d;
}
.fa, .fas, .far{
    color:#35557A;
}